$iconSpritePath: "../images/glyphicons-halflings.png";
$iconWhiteSpritePath: "../images/glyphicons-halflings-white.png";

/* Put your CSS here */
html, body {
  margin: 20px;
}

body {
    background: #fafafa;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #333;
}

.hero-unit {
    margin: 50px auto 0 auto;
    width: 300px;
    font-size: 18px;
    font-weight: 200;
    line-height: 30px;
    background-color: #eee;
    border-radius: 6px;
    padding: 60px;
}

.hero-unit h1 {
    font-size: 60px;
    line-height: 1;
    letter-spacing: -1px;
}

section {
  width: 500px;
  margin: 0 auto;
  background: #626262;
  padding: 1em;
  overflow: hidden;
  border-radius: 7px;
  div {
    margin: 0 0 2em 0;
  }
}

.wrap {
  display: table;
  background: #ca8c5f;
  margin-right: .5em;
  padding: .5em;
  color: #484848;
  i {
    color: white;
  }
  width: 46%;
  float: left;
  border-radius: 7px;
  &:nth-child(odd) {
    margin-right: 0;
  }
  img {
    display: inline-block;
  }
  .name {
    display: table-cell;
    width: 90%;
    vertical-align: middle;
    position: relative;
    left: 1em;
  }
}
